body {
  margin: 0;
  font-family: arial;
}

.container {
  width: 80%;
  margin: auto;
}

header {
  background-color: rgb(125, 202, 233);
  text-align: center;
  padding: 20px;
  margin-bottom: 10px;
  border-bottom: 1px solid rgb(175, 149, 216);
  display: flex;
}

header img {
  width: 50%;
}

.conteudo-central {
  display: flex;
}

nav {
  width: 30%;
  background-color: rgb(124, 124, 237);
  padding: 10px;
}

main {
  width: 70%;
  background-color: rgb(115, 99, 220);
  padding: 10px;
  display: flex;
}

section {
  background-color: rgb(80, 186, 231);
  padding: 10px;
  width: 60%;
}

footer {
  background-color: rgb(96, 100, 210);
  color: rgb(204, 235, 242);
  padding: 10px;
  margin-top: 10px;
  border-top: 1px solid gray;
}